*{
    margin:0px;
}
/* Estilização do título por meio de um ID*/
#titulo{
    color: rgb(5, 97, 184);
    text-align: center;
    font-size: 55px;
    border-radius: 20px;
    background-color: rgba(0,0,0);
}
/* Estilização das caixas de texto/botão */
.entradas-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    max-width: 300px;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.entradas-formulario input,
.entradas-formulario button{
padding: 10px;
font-size: 22px;
}
/*Estilização do rodapé */
.rodape{
    position: fixed;
    bottom: 0px;
    font-size: 16px;

    text-align: center;
    padding:5px;
    margin-top: 20px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}
/*Estilização do local das caixas de inserção*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
/*Posicionamento da imagem de Outer Wilds*/
#encaixe-img-owv{
    position: relative;
    left: 70%;
    padding: 30px;
    width: 500px;
}
/*Definição da imagem de plano de fundo*/
body{
    background-image: url(imagens/Background\ outer\ wilds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*Estilização dos cabeçalhos entre as caixas de inserção*/
.pv{
    font-size: larger;
    color: aqua;
}
/*Estilização dos parágrafos*/
.paragrafo{
    display: block;
    font-size: 22px;
    margin: 20px;
    padding: 5px;
    border: 10px;
    border-radius: 20px;
    color: rgb(5, 97, 184);
    background-color: rgba(0,0,0);
}
/*Estilização da caixa de áudio*/
#audio{
    margin: 0;
    position: absolute;
    top: 400px; left: 30px;
    display: block;
}
#caixa-mus{
    margin: auto;
    position: absolute;
    top: 350px; left: 30px;
    display: block;
    color: aqua;
    border: 20px;
}
#ref-mus{
    margin: auto;
    position: absolute;
    top: 460px; left: 40px;
    font-size: small;
    display: block;
    color: aqua;
}